<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head></head>

<body>

	<form th:object="${personViewModelPerson}" action="insert.html"
		th:action="@{/person}" method="post">
		<div>
	
		</div>
		<br>
		<div>
			<div>
				<b> <label>Introduceti numele persoanei cautate:</label></b> <input type="text"
					autocomplete="off" th:field="*{name}" />
			</div>
			<br>
			<p>
				<input class="btn btn-primary" name="submit" type="submit"
					value="Cautare" /> <input class="btn btn-primary" name="submit"
					type="submit" value="Resetati cautarea" /> <input class="btn btn-primary"
					name="submit" type="submit" value="Spre pagina Entity" />
			</p>
		</div>
		
		
		<div th:if="${not personViewModelPerson.isListEmpty()}">
			<h5 th:text="'Informatii despre: ' + *{name}"></h5>
			<table class="table table-hover" border="3">
				<thead class="thead-dark">
					<tr>
						<th class="text-center" scope="col">NAME</th>
						<th class="text-center" scope="col">STREET ADDRESS</th>
						<th class="text-center" scope="col">CITY</th>
						<th class="text-center" scope="col">STATE</th>
						<th class="text-center" scope="col">COUNTRY</th>
						<th class="text-center" scope="col">POSTAL CODE</th>
						<th class="text-center" scope="col">EFFECTIVE DATE</th>
						<th class="text-center" scope="col">EXPIRATION DATE</th>
						<th class="text-center" scope="col">STANDARD ORDER</th>
						<th class="text-center" scope="col">LAST UPDATE</th>
						<th class="text-center" scope="col">ACTION</th>
						<th class="text-center" scope="col">FR CITATION</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="person : *{searchedList}">
						<td data-th-text="${person.name}">...</td>
						<td data-th-text="${person.streetAddress}">...</td>
						<td data-th-text="${person.city}">...</td>
						<td data-th-text="${person.state}">...</td>
						<td data-th-text="${person.country}">...</td>
						<td data-th-text="${person.postalCode}">...</td>
						<td data-th-text="${person.effectiveDate}">...</td>
						<td data-th-text="${person.expirationDate}">...</td>
						<td data-th-text="${person.standardOrder}">...</td>
						<td data-th-text="${person.lastUpdate}">...</td>
						<td data-th-text="${person.action}">...</td>
						<td data-th-text="${person.frCitation}">...</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${not personViewModelPerson.isMaliciousEmpty()}">
			<p>
				<b>Aceasta cautare ofera si informatii despre: </b>
				
			</p>

			<table border="3">
				<tr data-th-each="person : *{maliciousList}">
					<td data-th-text="${person.line}">...</td>
				</tr>
			</table>
		</div>

		<div
			th:if="${personViewModelPerson.isListEmpty()} and ${personViewModelPerson.isMaliciousEmpty()} and ${not personViewModelPerson.isNameEmpty()}">
			<h5 th:text="'Nicio informatie despre: ' + *{name} + ' in: https://www.bis.doc.gov/dpl/dpl.txt'"></h5>
			<p>
				 <input class="btn btn-primary" name="submit" type="submit"
					value="Export PDF2" th:action="@{/download1}" />
			</p>

		</div>

		<label th:text="${mesaj}"></label>

		<div
			th:if="${not personViewModelPerson.isListEmpty()} or ${not personViewModelPerson.isMaliciousEmpty()}">
			<p>
				<br> <input class="btn btn-primary" name="submit" type="submit"
					value="Export PDF" th:action="@{/download1}" />
			</p>
		</div>


	</form>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</html>